.p-about {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 92vh;
    background-image: url(./../../assets/img/backbropound.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}